*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Vazirmatn', sans-serif;

}

/* ul[class],
ol[class] {
  padding: 0;
} */

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  font-family: 'Vazirmatn', sans-serif;
  /* font-size: 14px; */
  line-height: 1.5;  
  color: #00000096;
}


body {
  /* direction: rtl; */
  /* min-height: 100vh; */
  /* scroll-behavior: smooth;
  text-rendering: optimizeSpeed; */
  line-height: 1.15em;
  /* background-color: #ffffff; */
  font-size: 12px;
  font-family: 'Vazirmatn', sans-serif;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  font-family: 'Vazirmatn', sans-serif;

}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font-family: 'Vazirmatn', sans-serif;
}













/* scrollbar*/

/* width */
::-webkit-scrollbar {
  width: 10px;
}

 
/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
}
