 .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected::after {
  border-bottom: 2px solid #21b4bf !important;
  background: #e6f7ff !important;

}


.ant-menu-horizontal > .ant-menu-item a:hover {
  color: #21b4bf !important;
} 
.ant-menu-horizontal > .ant-menu-item-selected a{
  background: #e6f7ff !important;
  color: #21b4bf !important;
  padding: 6px 10px !important;
  border-radius: 0.25em;
}
.ant-modal-content {
  overflow: auto;
  border-radius: 0.5rem;
  border: 1px solid #21b4bf;  

}
.ant-table-cell, .ant-table-thead > tr > th{

  text-align: right;


}
.ant-modal-close{
  left: 0;
  right: unset;
}


.ant-tabs-tab + .ant-tabs-tab {
  margin-right: 32px;
  margin-left: unset;
}

.ant-dropdown-menu-title-content, .ant-dropdown-menu {
  text-align: right;
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu {
  padding-right: 10px;
  padding-left: 10px;
}


.ant-card-bordered, .ant-card-hoverable, .ant-card-meta-title{
  background-color: #21b4bf;
  color: white; 
  font-weight: bolder;
  border-radius: 0.5em;
  padding: 3px 4px 0px;
  text-align: center;
}
 .ant-card{
  background:#e6f7ff;
  border-radius: 0.5em;
  color: #21b4bf;
} 
 .ant-modal-header, .ant-image-img{
  background: #21b4bf !important;
  color: #e6f7ff !important;


} 
.ant-modal-title, .ant-modal-close-x{
   color: white; 
}



 .ant-timeline-item-head-custom {
  background-color: inherit;
} 

.ant-input-prefix {
  margin-right: 4px;
  margin-left: 4px;
}


.ant-timeline-item-content {
  padding-right: 26px;
  margin-left: unset;
}
.ant-typography {
  line-height: 2rem;
}
.anticon {
margin-left: 5px;
margin-right: 5px;
}